{
	parser: "babel-eslint",
	env: {
		es6: true,
		browser: true
	},
	parserOptions: {
		ecmaversion: 6,
		sourceType: "module",
		ecmaFeatures: {
			jsx: true,
			experimentalObjectRestSpread: true
		}
	},
	extends: ["airbnb", "eslint:recommended", "plugin:react/recommended", "standard"],
	plugins: [
		"react",
	],
	"rules": {
        "indent": [2, 4],
        "object-curly-spacing": 0,
        "no-else-return": 0
    }
}